@page "/machines/delete/{id:guid}"

<PageTitle>Machine Park - Delete Machine</PageTitle>

<div class="card shadow border-0">
    <div class="card-body">
        <h5 class="mb-3">Delete Confirmation</h5>
        @if (Model != null)
        {
            <ul>
                <li>@Model.Id</li>
                <li>@Model.Name</li>
                <li>@Model.Type.Name</li>
            </ul>
        }
        <p>Are you sure you want to delete this machine?</p>
        <button class="btn btn-primary" @onclick=DeleteMachine>Delete</button>
        <ReturnButton Label="Cancel" ReturnUrl="/dashboard" />
    </div>
</div>