@using Microsoft.AspNetCore.Mvc.Rendering
@rendermode InteractiveServer

<div class="card shadow border-0">
    <div class="card-body">
        @if (!string.IsNullOrWhiteSpace(Title))
        {
            <h5 class="mb-3">@Title</h5>
        }
        <EditForm Model="Model" OnValidSubmit="Submit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="mb-3">
                <label for="@Model.Name" class="form-label">Name</label>
                <InputText @bind-Value=Model.Name class="form-control" />
            </div>
            <div class="mb-3">
                <label for="@Model.Status" class="form-label">Status</label>
                <InputSelect @bind-Value=Model.Status class="form-control"></InputSelect>
            </div>
            <div class="mb-3">
                <label for="@Model.MachineTypeId" class="form-label">Type</label>
                <InputSelect @bind-Value=Model.MachineTypeId class="form-control"></InputSelect>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <ReturnButton Label="Cancel" ReturnUrl="/dashboard" />
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    public MachineCreateViewModel Model { get; set; } = new();

    private void Submit()
    {
        Console.WriteLine($"Name: {Model.Name}");
        Console.WriteLine($"Status: {Model.Status}");
        Console.WriteLine($"MachineTypeId: {Model.MachineTypeId}");
    }
}