<div class="card shadow border-0">
    <div class="card-body">
        <h5 class="d-inline">Machines</h5>
        <button class="btn btn-primary float-end">New</button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Machine 1</td>
                    <td><span class="badge text-bg-success">Online</span></td>
                    <td>Excavator</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Machine 2</td>
                    <td><span class="badge text-bg-light">Offline</span></td>
                    <td>Wheel Loader</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Machine 3</td>
                    <td><span class="badge text-bg-light">Offline</span></td>
                    <td>Dozer</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>