<div class="card shadow border-0">
    <div class="card-body">
        <h5 class="d-inline">Machines</h5>
        <button class="btn btn-primary float-end">New</button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var machine in Model)
                {
                    <tr>
                        <td>@machine.Id</td>
                        <td>@machine.Name</td>
                        <td>@machine.Status</td>
                        <td>@machine.Type</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<MachineViewModel> Model { get; set; } = [];
}