<div class="card shadow p-3 border-0">
    <h5>Daily Statistics</h5>
    <div class="card-body px-0">
        @if (Model != null)
        {
            <div class="mb-2">
                <strong class="d-block">Total Machines</strong>
                <span class="text-muted">@Model.TotalMachines</span>
            </div>
        }
    </div>
</div>