<div class="card shadow p-3 border-0">
    <h5>Daily Statistics</h5>
    <div class="card-body px-0">
        <div class="mb-2">
            <strong class="d-block">Total Machines</strong>
            <span class="text-muted">3</span>
        </div>
        <div class="mb-2">
            <strong class="d-block">New Machines</strong>
            <span class="text-muted">0</span>
        </div>
        <div>
            <strong class="d-block">Fuel</strong>
            <span class="text-muted">0</span>
        </div>
    </div>
</div>