@inject NavigationManager NavigationManager

<button type="button" class="btn btn-danger" @onclick="@(() => NavigationManager.NavigateTo(ReturnUrl))">@Label</button>

@code {
    [Parameter, EditorRequired]
    public string Label { get; set; } = default!;

    [Parameter, EditorRequired]
    public string ReturnUrl { get; set; } = default!;
}